body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 22px;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background-color: #256EEB;
    color: #FFFFFF;
    border-radius: 5px;
}

/* search-panel */
.search-panel {
    display: flex;
    height: 50px;
    background-color: #256EEB;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0 22px;
}

.search-button {
    display: flex;
    align-items: center;
    background-color: #256EEB;
    border: none;
    color: #FFFFFF;
    padding: 0 17px 0 22px;
}

.search-button-text {
    margin-left: 5px;
}