body {
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0;
}

/* header */
.header {
    padding: 30px 0;
    margin: 0 0 12px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 22px;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background-color: #256EEB;
    color: #FFFFFF;
    border-radius: 5px;
}

/* search-panel */
.search-panel {
    display: flex;
    height: 50px;
    background-color: #256EEB;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0 22px;
}

.search-button {
    display: flex;
    align-items: center;
    background-color: #256EEB;
    border: none;
    color: #FFFFFF;
    padding: 0 17px 0 22px;
}

.search-button-text {
    margin-left: 5px;
}

/* page-content */

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
    margin: 0;
}

.page-content .page-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 25px 0;
}

/* main single */

.main-single {
    display: flex;
    align-items: flex-start;
}

/* content section */

.content {
    max-width: 460px;
    margin-right: 30px;
}

/* slider */
.swiper-container {
    max-width: 460px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
    border-radius: 10px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper img {
    border-radius: 3px;
}

/* content text */
.content-text {
    font-size: 14px;
    line-height: 140%;
}

/* author */

.author {
    min-width: 264px;
}

.single-price {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 25px 0;
}

.author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 30px 0;
}

.auther-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
}

.rating {
    margin-bottom: 5px;
}

.rating-counter {
    margin-left: 10px;
    color: #0A143A;
    opacity: 0.5;
}

.author-status {
    font-size: 12px;
    line-height: 14px;
}

.author-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* button */

.button-block {
    display: block;
    width: 100%;
    height: 54px;
    margin-bottom: 14px;
    border: none;
}

.button-success {
    color: #FFFFFF;
    background-color: #14B4BE;
    border-radius: 5px;
}

/* cards */

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 264px;
    margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
    margin-right: 20px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    text-decoration: none;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin: 12px 0 5px 0;
}

.like {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.card-price {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #0A143A;
}

.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 0 0 4px 0;
}

/* sidebar */

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}

/* service */

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 7px 0 5px 0;
}

.service-text {
    min-width: 220px;
    font-size: 14px;
    line-height: 16px;
}

/* footer */

.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
}